<ion-modal-view>

    <ion-header-bar>
      <h1 class="title">保存目的地</h1>
      <div class="buttons">
        <button class="button button-outline button-positive" ng-click="modal.hide()">取消</button>
      </div>
    </ion-header-bar>

    <ion-content>

      <h2>{{details.formatted_address}}</h2>
      <p>評分: {{details.rating}}</p>
      <p>價格等級: {{details.price_level}}</p>
      <label class="item item-input item-stacked-label">
        <span class="input-label">敘述</span>
        <textarea class="text-area" select-all-in-input ng-model="description.input" placeholder="add some notes for yourself, friends and family!">
        </textarea>
      </label>
      <button type="submit" ng-click="saveCityLocation(); modal.hide()" class="button button-positive">儲存位置</button>
    </ion-content>

</ion-modal-view>
